body{
    background-color: aqua;
}
#marco1{
    float: left;
}
#marco2{
    float: left;
}
.textos{
    font-family: sans-serif; 
    color: black;
    margin: 4px;
    background:aqua;
    margin: 2px ;border :solid teal;
    text-align: center;
}
input{
    margin: 5px;
}
.botones{
    font-family: sans-serif; 
    color: black;
    margin: 4%;
    background: teal;
    margin: 2px ;border :solid black;
    text-align: center;
}
#reg{
    margin-top: 5px;
}
#registro{
    font-family: sans-serif; 
    color: black;
    margin: 4px;
    background: teal;
    margin: 2px ;border :solid black;
    text-align: center;
}